*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-size: 10px;
}

:root {
  --primary-color: #ebf3ee;
  --secondary-color: #3a835c;
  --tertiary-color: rgb(255, 255, 255);
}

body {
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
}

/* Upper */
.upper-msg {
  width: 100%;
  height: 5rem;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.upper-msg p span,
.upper-msg p {
  font-size: 1.3rem;
  color: var(--secondary-color);
  font-weight: 700;
}

.upper-msg p {
  font-weight: 500;
  position: relative;
}
.upper-msg p::after {
  content: "";
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  padding: 3px;
  top: 20%;
  right: -4%;
}

/* Header */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 2rem 0rem 2rem 0rem;
}

.header_links_container {
  display: flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
}
.header_links_container > li {
  list-style: none;
}

.header_links_container > li > a {
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.header_links_container > li:nth-child(3)::after {
  position: relative;
}
.header_links_container > li:nth-child(4)::after {
  position: relative;
}
.arrow::after {
  content: "";
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  padding: 3px;
  top: -2px;
  left: 8px;
}

.search_cart {
  display: flex;
  width: 10%;
  justify-content: end;
}

.search {
  width: 5.7rem;
  height: 5.7rem;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 3rem;
}
.cart {
  position: relative;
  width: 5.7rem;
  height: 5.7rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 3rem;
}

.count {
  position: absolute;
  color: white;
  top: 0;
  left: 80%;
  font-size: 1.2rem;
  background-color: var(--secondary-color);
  padding: 5px;
  border-radius: 45%;
  border: 1px solid white;
}

.hero {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem 12rem;
  background-color: var(--primary-color);
}

.left-side {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.greeting {
  grid-column: 1/ 2;
}
.left-side .greeting h1 {
  color: var(--secondary-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}
.left-side .greeting .line {
  width: 30%;
  position: relative;
  height: 0.3rem;
  border-radius: 15px;
  background-color: var(--secondary-color);
  margin: 1rem 0rem;
}

.left-side .greeting .line::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  background-color: #3a835c;
  height: 0.3rem;
  left: 110%;
  top: 50%;
  transform: translate(-50%, -60%);
  border-radius: 15px;
}

.form {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 42rem;
  width: 100%;
  margin-bottom: 2rem;
  background-color: white;
  border-radius: 5rem;
  padding: 0.5rem 2rem;
  height: 5.3rem;
}

.form-group i::before {
  color: var(--secondary-color);
  font-size: 1.8rem;
  margin-right: 0.5rem;
}

.form-group input {
  width: 100%;
  height: 5.3rem;
  border: none;
  border-radius: 5rem;
  font-size: 1.4rem;
  padding: 0rem 1.5rem;
  outline: none;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.form-group input:active {
  border: none;
  outline: none;
}

.remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5.3rem;
  margin-bottom: 2rem;
  background-color: var(--primary-color);
}

.remember input[type="checkbox"] {
  text-align: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.remember-me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remember-me label {
  font-size: 1.2rem;
  margin-left: 0.7rem;
  color: var(--secondary-color);
}

.forgot a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--secondary-color);
}
.btn-wraper {
  padding: 0;
}
.btn {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

.divider {
  font-size: 1.6rem;
  color: var(--secondary-color);
  width: 100%;
  margin: 1rem 0rem;
  grid-column: 1 / 2;
  overflow: hidden;
}

.divider::after,
.divider::before {
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 48%;
  background-color: var(--secondary-color);
}

.divider:before {
  right: 0.8rem;
}

.divider:after {
  left: 0.8rem;
}

.social-login {
  grid-column: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-login .social-login-btn {
  height: 5.3rem;
  padding: 2rem 6rem;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 50px;
}

.social-login .social-login-btn span {
  font-size: 1.4rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  margin-left: 1rem;
}

.social-login .social-login-btn:first-child {
  background-color: #1877f2;
}

.social-login .social-login-btn:last-child {
  background-color: white;
}

.social-login .social-login-btn:last-child span {
  color: black;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero-img {
  z-index: 100;
}
.plant {
  position: absolute;
  bottom: 0;
  left: 0%;
}

/* footer */
.footer {
  width: 100%;
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 12rem;
}

.footer-logo {
  grid-column: 1 / 2;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
}
.address > span {
  display: inline-block;
  margin-left: 1rem;
  color: white;
  font-size: 1.4rem;
}
.address .round {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.address .round i::before {
  font-size: 1.4rem;
  color: var(--secondary-color);
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
}
.email > span {
  display: inline-block;
  margin-left: 1rem;
  color: white;
  font-size: 1.4rem;
}
.email .round {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.email .round i::before {
  font-size: 1.4rem;
  color: var(--secondary-color);
}

/* lower Start */

.lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 12rem;
  background-color: var(--secondary-color);
  border-top: 0.5px solid white;
}
.copy {
  color: white;
  font-size: 1.4rem;
}
.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 2%;
}
.social-links a {
  display: inline-block;
  align-self: flex-end;
}

.social-links a i::before {
  color: white;
  font-size: 1.4rem;
}
